
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Heading-bold";
  src: url("../assets/fonts/Heading-bold.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Text";
  src: url("../assets/fonts/text.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Heading-latin";
  src: url("../assets/fonts/HeadingLatin.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.custom-border-bottom {
    border-radius: 0 0 53% 47% / 0 0 6% 8%;
  }